name: SonarCloud 

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:

permissions:
  pull-requests: read # allows SonarCloud to decorate PRs with analysis results

jobs:
  Analysis:
    runs-on: ubuntu-latest

    steps:
      - name: Analyze with SonarCloud
        run: |
         dotnet tool install --global dotnet-sonarscanner
         dotnet sonarscanner begin /o:romeosonarcloud /k:romeosonarcloud_repo4 /d:sonar.host.url=https://sonarcloud.io
         dotnet build ./Solution4.sln --configuration Release --no-restore
         dotnet sonarscanner end
